<div class="container_sidebar" th:fragment="sidebar">
    <div class="room_info">
        <div class="room_info_name" th:text="${room.name}">room name</div>
        <small th:text="'Mã lớp: ' + ${room.id}">MMMMMM</small>
    </div>
    <div class="line"></div>
    <small>Danh mục</small>
    <div class="container_sidebar_option">
        <a class="container_sidebar_item" th:href="@{../../../classroom/{id}/member(id=${room.id})}" data-href="/classroom/${room.id}/member/">
            <i class="fa-regular fa-user"></i>
            <div>Thành viên</div>
        </a>
        <a class="container_sidebar_item" th:href="@{../../../classroom/{id}/homework/list(id=${room.id})}" data-href="/classroom/${room.id}/homework/list/">
            <i class="fa-regular fa-file-lines"></i>
            <div>Bài tập</div>
        </a>
    </div>
</div>
