<div class="container_sidebar" th:fragment="sidebarStudent">
    <div class="room_info">
        <div class="room_info_name" th:text="${classroom.name}">room name</div>
        <small th:text="'Mã lớp: ' + ${classroom.id}">MMMMMM</small>
    </div>
    <div class="line"></div>
    <div class="teacher_info_container">
        <small>Giáo viên</small>
        <div class="teacher_info">
            <img th:src="${teacher.avatarUrl}" alt="">
            <div class="name" th:text="${teacher.username}"></div>
        </div>
    </div>
    <div class="line"></div>
    <small>Danh mục</small>
    <div class="container_sidebar_option">
        <a class="container_sidebar_item" th:href="@{../../../classroom/{id}/member(id=${classroom.id})}" data-href="/classroom/${classroom.id}/member/">
            <i class="fa-regular fa-user"></i>
            <div>Thành viên</div>
        </a>
        <a class="container_sidebar_item" th:href="@{../../../classroom/{id}/homework/list(id=${classroom.id})}" data-href="/classroom/${classroom.id}/homework/list/">
            <i class="fa-regular fa-file-lines"></i>
            <div>Bài tập</div>
        </a>
        <a class="container_sidebar_item" th:href="@{../../../classroom/{id}/chat(id=${classroom.id})}"
            data-href="/classroom/${classroom.id}/chat/">
            <i class="fa-brands fa-facebook-messenger"></i>
            <div>Nhắn tin</div>
        </a>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const currentPath = window.location.pathname.split('/')[3];
            document.querySelectorAll('.container_sidebar_item').forEach(item => {
                const href = item.getAttribute('data-href').split('/')[3];
                if (currentPath.includes(href)) {
                    item.classList.add('active');
                }
            });
        });
    </script>
</div>
