<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Project Java</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/css/detalQuizTeacher.css}" rel="stylesheet" />
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link th:href="@{/css/sidebar.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="title">
        <div class="header_title">
            <a th:href="@{../../classroom/{id}/homework/list(id=${classroom.id})}">Bài tập</a>
            <i class="fa-solid fa-caret-right"></i>
            <div th:text="${quiz.title}"></div>
        </div>
        <div class="options_title">
            <button data-type="scoreboard" class="active">Bảng điểm</button>
            <button data-type="overview">Tổng quan</button>
            <!-- <button>Thông số</button> -->
            <button data-type="topic_quiz">Đề bài</button>
        </div>
    </div>
    <div class="container">
        <div class="scoreboard content">
            <div class="scoreboard_header">
                <button class="active">Tất cả</button>
                <button>Chưa làm</button>
                <button>Đang làm</button>
                <button>Đã nộp</button>
            </div>
            <div class="scoreboard_conten">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Họ và tên</th>
                            <th scope="col">Đã làm</th>
                            <th scope="col">Điểm</th>
                            <th scope="col">Thời lượng</th>
                            <th scope="col">Ngày nộp</th>
                        </tr>
                    </thead>
                    <tbody class="all">
                        <tr th:each="quizDetalDTO :${quizDetalDTOs}">
                            <td scope="row" th:text="${quizDetalDTO.user.username}">Chris</td>
                            <td th:text="${quizDetalDTO.attempt}+'/'+${quiz.maxAttempts}">HTML tables</td>
                            <td
                                th:text="${quizDetalDTO.quizResult != null} ? ${quizDetalDTO.quizResult.completed==true? quizDetalDTO.quizResult.score :'Đang làm' } :'Chưa làm' ">
                                HTML tables</td>
                            <td
                                th:text="${quizDetalDTO.quizResult != null} ? ${quizDetalDTO.quizResult.convertSecondsToTimeFormat()} :'--' ">
                                HTML tables</td>
                            <td
                                th:text="${quizDetalDTO.quizResult != null} ? ${quizDetalDTO.quizResult.getSubmitDateFormat()!=null ? quizDetalDTO.quizResult.getSubmitDateFormat() :'--'} :'--' ">
                                HTML tables</td>
                        </tr>
                    </tbody>
                    <tbody class="uncompleted hidden">
                        <tr th:each="quizDetalDTO :${quizDetalDTOs}">
                            <td scope="row" th:text="${quizDetalDTO.user.username}">Chris</td>
                            <td th:text="${quizDetalDTO.attempt}+'/'+${quiz.maxAttempts}">HTML tables</td>
                            <td
                                th:text="${quizDetalDTO.quizResult != null} ? ${quizDetalDTO.quizResult.completed==true? quizDetalDTO.quizResult.score :'Đang làm' } :'Chưa làm' ">
                                HTML tables</td>
                            <td
                                th:text="${quizDetalDTO.quizResult != null} ? ${quizDetalDTO.quizResult.convertSecondsToTimeFormat()} :'--' ">
                                HTML tables</td>
                            <td
                                th:text="${quizDetalDTO.quizResult != null} ? ${quizDetalDTO.quizResult.getSubmitDateFormat()!=null ? quizDetalDTO.quizResult.getSubmitDateFormat() :'--'} :'--' ">
                                HTML tables</td>
                        </tr>
                    </tbody>
                    <tbody class="isDoing hidden">
                        <tr th:each="quizDetalDTO :${quizDetalDTOs}">
                            <td scope="row" th:text="${quizDetalDTO.user.username}">Chris</td>
                            <td th:text="${quizDetalDTO.attempt}+'/'+${quiz.maxAttempts}">HTML tables</td>
                            <td
                                th:text="${quizDetalDTO.quizResult != null} ? ${quizDetalDTO.quizResult.completed==true? quizDetalDTO.quizResult.score :'Đang làm' } :'Chưa làm' ">
                                HTML tables</td>
                            <td
                                th:text="${quizDetalDTO.quizResult != null} ? ${quizDetalDTO.quizResult.convertSecondsToTimeFormat()} :'--' ">
                                HTML tables</td>
                            <td
                                th:text="${quizDetalDTO.quizResult != null} ? ${quizDetalDTO.quizResult.getSubmitDateFormat()!=null ? quizDetalDTO.quizResult.getSubmitDateFormat() :'--'} :'--' ">
                                HTML tables</td>
                        </tr>
                    </tbody>
                    <tbody class="completed hidden">
                        <tr th:each="quizDetalDTO :${quizDetalDTOs}">
                            <td scope="row" th:text="${quizDetalDTO.user.username}">Chris</td>
                            <td th:text="${quizDetalDTO.attempt}+'/'+${quiz.maxAttempts}">HTML tables</td>
                            <td
                                th:text="${quizDetalDTO.quizResult != null} ? ${quizDetalDTO.quizResult.completed==true? quizDetalDTO.quizResult.score :'Đang làm' } :'Chưa làm' ">
                                HTML tables</td>
                            <td
                                th:text="${quizDetalDTO.quizResult != null} ? ${quizDetalDTO.quizResult.convertSecondsToTimeFormat()} :'--' ">
                                HTML tables</td>
                            <td
                                th:text="${quizDetalDTO.quizResult != null} ? ${quizDetalDTO.quizResult.getSubmitDateFormat()!=null ? quizDetalDTO.quizResult.getSubmitDateFormat() :'--'} :'--' ">
                                HTML tables</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="topic_quiz content hidden">
            <div class="list_question">
                <div th:each="question,questionIndex : ${questions}" class="question">
                    <h3 th:text="'Câu '+${questionIndex.count}+' :'"></h3>
                    <div class="question_text" th:text="${question.questionText}"> </div>
                    <div class="answers">
                        <div class="answer">
                            <label th:classappend="${question.correctAnswer}=='A' ? 'active' : ''"
                                th:for="'answer_'+${questionIndex.index}+'_A'">
                                <div>A</div>
                                <div th:text="${question.options[0]}"></div>
                            </label>
                        </div>
                        <div class="answer">
                            <label th:classappend="${question.correctAnswer}=='B' ? 'active' : ''"
                                th:for="'answer_'+${questionIndex.index}+'_B'">
                                <div>B</div>
                                <div th:text="${question.options[1]}"></div>
                            </label>
                        </div>
                        <div class="answer">
                            <label th:classappend="${question.correctAnswer}=='C' ? 'active' : ''"
                                th:for="'answer_'+${questionIndex.index}+'_C'">
                                <div>C</div>
                                <div th:text="${question.options[2]}"></div>
                            </label>
                        </div>
                        <div class="answer">
                            <label th:classappend="${question.correctAnswer}=='D' ? 'active' : ''"
                                th:for="'answer_'+${questionIndex.index}+'_D'">
                                <div>D</div>
                                <div th:text="${question.options[3]}"></div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overview content hidden">
            <div class="table_score">
                <h2>Bảng phân bố điểm</h2>
                <table class="table_overview">
                    <thead>
                        <tr>
                            <th scope="col">Số học sinh</th>
                            <th scope="col">Đã làm</th>
                            <th th:each="score:${scoreMap}" scope="col" th:text="'<='+${score.key}">Họ và tên</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" th:text="${classroom.studentIds.size()}"></th>
                            <th scope="row" th:text="${count}"></th>
                            <th th:each="score,scoreIndex:${scoreMap}" scope="row" class="scoreData"
                                th:text="${score.value}">
                                Họ và tên</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="chart_score">
                <h2>Biểu đồ phân bố điểm</h2>
                <canvas id="myChart" width="800"></canvas>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    document.addEventListener("DOMContentLoaded", function () {
        const listBtn = document.querySelectorAll(".options_title button")
        const listContent = document.querySelectorAll(".container .content")

        const resetActive = function () {
            listBtn.forEach(e => {
                e.classList.remove('active')
            })
        }

        const resetContent = function () {
            listContent.forEach((e) => {
                e.classList.add("hidden")
            })
        }

        listBtn.forEach(e => {
            e.addEventListener("click", function () {
                resetActive()
                this.classList.add("active")
                if (this.getAttribute("data-type")) {
                    resetContent()
                    const type = this.getAttribute("data-type")
                    document.querySelector(`.${type}`).classList.remove('hidden')
                }
            })
        })

        // 

        const dataScore = []

        document.querySelectorAll("th.scoreData").forEach((e) => {
            dataScore.push(e.textContent - 0);
        })

        console.log(dataScore);


        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['<=1', '<=2', '<=3', '<=4', '<=5', '<=6', '<=7', '<=8', '<=9', '<=10'],
                datasets: [{
                    label: '# of Votes',
                    data: dataScore,
                    backgroundColor: '#ff0033',  
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1, // Đặt đơn vị là 1
                            callback: function (value) {
                                return Number.isInteger(value) ? value : ''; // Hiển thị chỉ số nguyên
                            }
                        }
                    }

                }
            }
        });

        // 
    })

</script>

</html>